body{
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    background-attachment: fixed;
    margin: 0;
    font-weight: 'poppins',sans-serif;
}
#form{
    width:500px;
    margin:auto auto 2vh auto;
    background-color: whitesmoke;
    border-radius: 5px;
    border-color: aqua;
    padding: 25px;
}
h1{
    text-align: center;
    color:rgba(237, 10, 222, 0.789);
}
button{
    background-color:rgba(237, 10, 222, 0.789);
    color: white;
    border:1px solid rgb(250, 248, 248);
    padding: 10px;
    border-radius: 5px;
    margin:20px 0px;
    font-size: medium;
    cursor: pointer;
    width: 100%;
}
.input-group{
    display: flex;
    flex-direction: column;
    margin-bottom:15px
}
.input-group input{
    margin-top:5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(237, 82, 188);
    font-size: 15px;
}
.error{
    color: rgb(244, 7, 54);
    margin-top: 5px;
    font-size: 5px;
}
.input-group textarea{
    margin-top:5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(237, 82, 188);
    font-size: 15px;
}
.info{
    padding: 30px;
    color: aqua;
    text-align: justify;
}
.info h1{
    text-align: justify;
    color:rgb(253, 250, 250);
}